

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: auto auto;
    max-width: 1400px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  /* margin: auto auto;
  max-width: 1700px; */
  }
  
  a {
    color: #ff4a17;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff724a;
    text-decoration: none;
  }
  /* li{
    font-size: 18px;
  
  } */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  p{
    font-size: 18px;
  }
  
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  /* display: flex; */
}
#header.fixed-top {
  height: 70px;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;

}
#header .logo a {
  color: #222222;
}
#header .logo a span {
  color: #106eea;
}
#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 20px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #106eea;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #106eea;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: none;
  }

  .display-nav {
    display: none;
  }
}
@media (min-width: 991px) {
  .slide-bar  {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #106eea;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #106eea;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}


/*--------------------------------------------------------------
  # Hero
  --------------------------------------------------------------*/

.hero{
  position: relative;
}
.hero .hero-heading{
  position: absolute;
  color: white;
  /* border:2px solid red; */
  /* margin-top: 100px; */
  background-color: rgba(0, 0, 0, 0.404);
  width: 100%;
  text-align: center;
  padding: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
}
.hero-image{
  height: 800px;
}

.hero-caption{
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.555);
max-width: 900px;
text-align: center;
}

@media (max-width: 1229px) {
  .hero-image{
    max-height: 500px;
  }
  .hero .hero-heading{
    padding: 0; 
  } 
  }
  @media (max-width: 765px) {
    .hero-image{
      max-height: 400px;
    }
    .hero .hero-heading{
      visibility: hidden;
    }
    .hero-caption{
      visibility: visible;
    }
  
    }
    @media (max-width: 631px) {
      .hero-image{
        max-height: 300px;
      }
      }
    @media (max-width: 473px) {
      .hero-image{
        height: 190px;
      }
      .hero .hero-heading{
        visibility: hidden;
      }
     
      }
      @media (max-width: 310px) {
        .hero-image{
          height: 100%;
        }
        .hero .hero-heading{
          visibility: hidden;
        }
       
        }

/*--------------------------------------------------------------
  # Search
  --------------------------------------------------------------*/

        .site-section {
          padding: 3em 0; 
        }
        .site-section form input[type="text"]{
          border: transparent;
          height: 50px;
          border-radius: 9px;
        }
        .site-section form input[type="text"]:focus{
          outline: none;
        }
          @media (min-width: 768px) {
            .site-section {
              padding: 7em 0; } }
          .site-section.site-section-sm {
            padding: 4em 0; }
        
.form-search {
  border-radius: 9px;
  background: #364e68;
  position: relative;
  z-index: 1;
  padding: 3rem 2rem;
  -webkit-box-shadow: 0 0px 30px 0px rbga(0, 0, 0, 1);
  box-shadow: 0 0px 30px 0px rbga(0, 0, 0, 1); }
  .form-search label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: rgba(255, 255, 255, 0.3); }
  .form-search .form-control {
    border: none; 
  }
  .form-search .btn[type="submit"] {
    height: 47px; }

    .select-wrap {
      position: relative; }
      .select-wrap .icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        line-height: 0;
        font-size: 26px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .select-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
    


/*--------------------------------------------------------------
  # Product-Card
  --------------------------------------------------------------*/
  .product-container{
    /* border: 2px solid red; */
    margin: auto auto;
    max-width: 100%;

  }      
  .property-Card{
          width: 320px;
          margin: 8px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
          .property-Card-container{
          max-width: 100%;
          margin: 0;
          }
          .property-image-container{
            max-height: 180px;
          overflow: hidden;
          }
          @media (max-width: 320px) {
            .property-image-container{
              max-height: 170px;
            }
            }
          .property-image-container img{
            width: 100%;
            z-index: -0;
          }
            .property-entry {
            background: #fff; }
            .property-entry .property-body {
              position: relative; }
              .property-entry .property-favorite:hover, .property-entry .property-favorite.active {
                background: #f23a2e;
                color: #fff; }
            .property-entry .offer-type-wrap {
              position: absolute;
              top: 10px;
              left: 10px;
              z-index: 8; }
            .property-entry .property-thumbnail {
              overflow: hidden;
              position: relative;
              display: block;
              border: 3px solid red;
             }
              .property-entry .property-thumbnail .offer-type {
                display: block;
                margin-bottom: 5px;
                padding: 1px 7px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: .2em;
                font-size: 9px;
                border-radius: 4px; }
              .property-entry .property-thumbnail img {
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1); }
            .property-entry .property-title {
              font-size: 1.2rem; }
              .property-entry .property-title a {
                color: #000; }
            .property-entry .property-location {
              font-size: .9rem; }
              .property-entry .property-location .property-icon {
                color: rgba(0, 0, 0, 0.3); }
            .property-entry .property-specs-number {
              font-size: 1.2rem;
              color: #000; }
            .property-entry .property-specs-wrap {
              list-style: none;
              padding: 0;
              margin: 0; }
              .property-entry .property-specs-wrap li {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px; }
            .property-entry .property-specs {
              display: block;
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: .1em; }
            .property-entry .property-price {
              font-size: 1.3rem; }
            .property-entry.horizontal .property-thumbnail {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
              flex: 0 0 50%; }
            .property-entry.horizontal .property-favorite {
              top: auto !important;
              right: auto !important;
              left: -70px !important; }
              @media (max-width: 991.98px) {
                .property-entry.horizontal .property-favorite {
                  left: auto !important;
                  top: -60px !important;
                  right: 10px !important; } }
            .property-entry:hover img {
              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05); }
          
              .property-entry:active {
                -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                transform: scale(0.9); }
          
          .property-specs-wrap {
            list-style: none;
            padding: 0;
            margin: 0; }
            .property-specs-wrap li {
              display: inline-block;
              margin-right: 10px;
              margin-bottom: 10px; }
          
          .property-specs {
            display: block;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: .1em; }
          
          .property-price {
            font-size: 1.3rem; }
          
            .results-container{
              padding: 0 10px;
            }



/*--------------------------------------------------------------
  # Cookie Policy
  --------------------------------------------------------------*/
  #cookiePopup {
    background: white;
    max-width:90%;
    position: fixed;
    left: 70px;
    bottom: 20px;
    box-shadow: 0px 0px 15px #cccccc;
    padding: 15px 15px;
    z-index: 100;
  }
    #cookiePopup p{
    text-align: left;
    font-size: 15px;
    color: #4e4e4e;
  }
  #cookiePopup button{
    width: 50%;
    border: navajowhite;
    background: #15222B;
    padding: 5px;
    color: white;
    width: 40%;
    margin: 0px 5px;
  }
  @media (max-width: 1226px) {
    #cookiePopup {
      background: white;
      width: 60%;
      position: fixed;
      left: 70px;
      bottom: 20px;
      box-shadow: 0px 0px 15px #cccccc;
      padding: 5px 10px;
    }
  }
  

  /* Cookie Policy page */
  .cookie-policy h1{
    color: #365870;
  }
  .cookie-policy strong{
    color: #ed3c0d;
  }
  .off p .cookie-buttons{
    visibility: hidden;
  }

  

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.site-footer {
  width: 100%;
  /* border: 2px solid red; */
  /* padding: 4em 0; */
  background: #333333; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 7em 0; } }
  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    position: relative;
    padding-bottom: 15px; }
    .site-footer .footer-heading:before {
      content: "";
      background: #fff;
      width: 40px;
      height: 2px;
      position: absolute;
      bottom: 0; }
