@import "~react-image-gallery/styles/css/image-gallery.css";
/* 
.contact-forms{
  margin: 10px;
  max-width: 500px;
}
.map-pdt-unit-description{
  max-width: 600px;
  margin: 5px;
  padding: 10px;
}
.iframe-section{
  max-width: 400px;
}
.descriptions-unit{
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  
} */

.grid-container {
  display: grid;
  grid-template-columns:  auto 600px ;
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-container > .grids {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 2px solid red; */
  padding: 20px 0;
  font-size: 20px;
}
@media (max-width: 1111px) {
  .grid-container {
    grid-template-columns:  auto 500px ;
  }
  }
  @media (max-width: 900px) {
    .grid-container {
      grid-template-columns:  auto 400px ;
    }
    }
    @media (max-width: 850px) {
      .grid-container {
        grid-template-columns:  auto 300px ;
      }
      }
@media (max-width: 750px) {
    .grid-container {
      grid-template-columns: auto;
    }
    }
@media (max-width: 450px) {
  .grid-container {
    grid-template-columns: 400px;
    align-content: center;
        justify-content: center;
  }
  }
    @media (max-width: 400px) {
      .grid-container {
        grid-template-columns: 350px;
        align-content: center;
        justify-content: center;
      }
      }
      @media (max-width: 380px) {
        .grid-container {
          grid-template-columns: 330px;
          align-content: center;
          justify-content: center;
        }
        }
        @media (max-width: 340px) {
          .grid-container {
            grid-template-columns: 300px;
            align-content: center;
            justify-content: center;
          }
          }
          @media (max-width: 300px) {
            .grid-container {
              grid-template-columns: 250px;
              align-content: center;
              justify-content: center;
            }
            }
  .description-price{
    background-color: #34495e15;
    border-radius: 5px;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .description-box{
    background-color: #EEF0F2;
    border-radius: 5px;

    padding: 10px;
  }

  .imageGallery{
    padding: 10px;
    width: 100%;
    background-color: #EEF0F2;
    border-radius: 5px;
/* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imagery{
/* border: 2px solid red; */
width: 100%;
  }

  .contact-form{
    max-width: 600px;
  }
  .contact-form h3{
    font-size: 30px;
    font-weight: bold;
  }
  .client-contact-forms{
    padding: 10px;
    background-color: #EEF0F2;
    border-radius: 15px;
   
  }
  .client-contact-forms input{
    max-width: 100%;
    padding: 10px;
   margin-top: 5px;
  }
  .client-contact-forms textarea{
    padding: 10px;
   margin-top: 5px;
  }
  .client-contact-forms button{
    padding: 5px 10px;
   margin-top: 5px;
   font-size: 24px;
   font-weight: bold;
  }

  .error {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 1100px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: #fff;
    font-size: 21px;
    height: 30vh;
  }
  

  .property-Card{
width: 350px;
margin: 8px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
.property-Card-container{
max-width: 100%;
margin: 0;
}
.property-image-container{
  max-height: 180px;
overflow: hidden;
}
@media (max-width: 320px) {
  .property-image-container{
    max-height: 170px;
  }
  }
.property-image-container img{
  width: 100%;
  z-index: -0;
}
  .property-entry {
  background: #fff; }
  .property-entry .property-body {
    position: relative; }
    .property-entry .property-favorite:hover, .property-entry .property-favorite.active {
      background: #f23a2e;
      color: #fff; }
  .property-entry .offer-type-wrap {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 8; }
  .property-entry .property-thumbnail {
    overflow: hidden;
    position: relative;
    display: block;
    border: 3px solid red;
   }
    .property-entry .property-thumbnail .offer-type {
      display: block;
      margin-bottom: 5px;
      padding: 1px 7px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-size: 9px;
      border-radius: 4px; }
    .property-entry .property-thumbnail img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .property-entry .property-title {
    font-size: 1.2rem; }
    .property-entry .property-title a {
      color: #000; }
  .property-entry .property-location {
    font-size: .9rem; }
    .property-entry .property-location .property-icon {
      color: rgba(0, 0, 0, 0.3); }
  .property-entry .property-specs-number {
    font-size: 1.2rem;
    color: #000; }
  .property-entry .property-specs-wrap {
    list-style: none;
    padding: 0;
    margin: 0; }
    .property-entry .property-specs-wrap li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px; }
  .property-entry .property-specs {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .1em; }
  .property-entry .property-price {
    font-size: 1.3rem; }
  .property-entry.horizontal .property-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .property-entry.horizontal .property-favorite {
    top: auto !important;
    right: auto !important;
    left: -70px !important; }
    @media (max-width: 991.98px) {
      .property-entry.horizontal .property-favorite {
        left: auto !important;
        top: -60px !important;
        right: 10px !important; } }
  .property-entry:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

    .property-entry:active {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }

.property-specs-wrap {
  list-style: none;
  padding: 0;
  margin: 0; }
  .property-specs-wrap li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }

.property-specs {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1em; }

.property-price {
  font-size: 1.3rem; }

  .results-container{
    padding: 0 10px;
  }